@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-color: #000E89;
    --secondary-color: #ffffff;
    --third: #E4D31F;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    letter-spacing: 1px;
}

body {
    position: relative;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--third);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.4s;
}
#myBtn:hover {
    transform: scale(1.1);
    box-shadow:  0 1px 1px 0 var(--third),0 1px 5px 0 var(--third   );
}

/* Nav Bar */

nav {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 0.625rem 6.25rem;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 99;
}
.nav-links a {
    text-decoration: none;
    color: var(--secondary-color);
}
.nav-links a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2.5px;
    background-color: var(--third);
    transition: width .3;
}
.nav-links a:hover::after {
    width: 100%;
    transition: width .4s;
}
.nav-links {
    /*   */
    width: 450px;
    display: flex;
    justify-content: space-around;
}
.logo img {
    width: 20rem;
}

/* first Section */

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/image\ 1.png);
    background-position: center;
}
.headings img {
    width: 80.75rem;
    display: flex;
}
.headings {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/* second section */

.seconds {
    height: 25rem;
    background-color: var(--secondary-color);
    background-image: url(images/URS\ Giants\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.urs-details {
    width: 70%;
    text-align: center;
}
.urs-details p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 40px;
    font-weight: 400;
    color: black;
}
.details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.urs-details .details {
    margin-bottom: 25px;
}
.button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 1.25rem 6.25rem;
    margin-top: 40px;
    border-radius: 0.625rem;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s;
}
.button:hover {
    opacity: 0.9;
}

/* third section */

.third {
    width: 100%;
    height: 100vh;
}
.carousel {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}
.c-item {
    height: 100vh;
  }
  
.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.title-image {
    width: 50.75rem;
}

/* Events section */

.events {
    width: 100%;
    /* height: 100vh; */
    background-image: url(images/image\ 2.png);
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    background-position: right;
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    flex-direction: column;
    padding: 100px 100px;
}
.second {
    background-position: left;
    background-color: var(--secondary-color);
}
.header, .par {
    color: var(--secondary-color);
}
.header1, .par1 {
    color: black;
}
.event-details1, .title1 {
    display: flex;
    justify-content: flex-end;
}
.header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.par {
    font-size: 1.5rem;
    width: 60%;
}
.img {
    width: 350px;
    height: 200px;
    border: 4px solid var(--third);
    border-radius: 10px;
    transition: .3s;
}
.img:hover {
    transform: translate(0, -10px);
    cursor: pointer;
}
.images-container {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    max-width: 100%;
}

/* Mission and Vision Section */

.urs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;
    background-image: url(images/URS\ Giants\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.infos {
    margin-bottom: 100px;
}
.urs h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 40px;
}
.logos img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.info {
    text-align: center;
    font-size: 1.5rem;
}
.tile {
    font-size: 1.5rem;
    margin-top: 40px;
    font-style: italic;
}

.memberss {
    /* height: 100vh; */
    width: 100%;
    background-color: var(--primary-color);  
    padding: 50px 0;  
}

.headerss {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 40px; */
}

.mell {
    width: 250px;
    height: 90px
}

.desc {
    font-size: 24px;
    width: 60%;
    color: var(--secondary-color);
    text-align: center;
    line-height: 40px;
    font-weight: 24px;
    font-style: italic;
}

/* .sila h1 {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    font-weight: 700;
    padding-top: 30px;
    font-size: 32px;

} */
.mem-container img {
    width: 230px;
    height:  370px;    
}
.mem-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    max-width: 100%;
    margin-top: 30px;
}
.mem-container .images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* About the subject */

.about-subject {
    padding: 0 60px;
    display: flex;
    align-items: center;
}
.first-division {
    padding: 100px 50px;
    width: 40%;
}
.first-division .fd {
    
    border-right: 1px solid rgba(0,0,0,0.3);
}
.second-division {
    text-align: center;
    padding: 0 60px;
    width: 60%;
}
.second-division p {
    font-size: 24px;
    line-height: 40px;
}
.second-division h1 {
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: 700;
}

/* footer */

footer {
    max-width: 100%;
    display: flex;
    padding: 120px 60px;
    background-color: var(--primary-color);
}
footer .card {
    background-color: var(--primary-color);
    border-radius: 0;
    width: 25%;
    padding: 0 60px;
    border-right: 1px solid rgba(255,255,255,0.2);
    border-top: none;
    border-bottom: none;
    border-left: none;
    display: flex;
    flex-direction: column;
}
.footer-logo img {
    width: 246px;
    height: 46px;
    margin-bottom: 30px;

}
.urs-description p{
    font-size: 0.813rem;
    width: 100%;
    color: var(--secondary-color);
    font-weight: 300;
}
.footer-title h1 {
    font-size: 0.688rem;
    color: var(--secondary-color);
    font-weight: 700;
    margin-bottom: 35px;
    padding: 10px 0;
}
.urs-edu a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 0.813rem;
}
.urs-edu a:hover {
    text-decoration: underline;
}
.urs-links {
    padding: 40px 0;
}
.add, .Binangonan {
    color: var(--secondary-color);
    font-weight: 300;
}
.address .add {
    font-size: 0.688rem;
}
.Binangonan {
    font-size: 0.813rem;
}
.address {
    margin-top: 35px;
}
.urs-edu-flex {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}
.urs-css {
    border-right: none;
}
.urs-css img {
    width: 250px;
    height: 200px;
}
.urs-css div {
    max-width: 100%;
    margin-left: 60px;
}
.copyrights h1 {
    text-align: center;
    font-size: 0.813rem;
    color: var(--secondary-color);
    font-weight: 300;
}
.copyrights {
    padding: 10px 0;
    background-color: #000E89;
    border-top: 1px solid rgba(255,255,255,0.2);
}



/* Mobile Responsiveness */

@media only screen and (max-width: 600px) {
    nav {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    nav .links{
        display: none;
    }
    .headings img {
        width: 28rem;
    }
    .urs-details p {
        font-size: 1rem;
    }
    .title, .par {
        font-size: 1.1rem;
        width: 100%;
        text-align: center;
    }
    .images-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    .images-container img {
        width: 12.5rem;
        height: 6.25rem;
    }
    .urs {
        padding: 3.125rem 3.75rem;
    }
    .urs h1, .tile {
        font-size: 1rem;
    }
    .info p {
        font-size: 1rem;
    }
    .title-image {
        width: 25rem;
    }
}
